<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible; Content-Type"
	content="ie=edge; text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title th:text="${bookListTitle}"></title>
</head>

<body style="margin: 50px;">

	<br />

	<h3 th:text="${title}"></h3>

	<div class="container-fluid">
		<div class="row">
			<div class="col-6">
				<h4 th:text="${booksAvailables}"></h4>
			</div>
			<div class="col-6">
				<a class="btn btn-primary" href="/shopping-car/detail" role="button"
					th:text="${goShoppingCar}"></a>
			</div>
		</div>
		
		<br />

		<div class="row" th:each="bookElement: ${books}">
			<!--<form action="#" th:action="@{/books/add-book}"
				th:object="${bookForm}" method="post">-->
			<div class="col-4">
				<img th:src="@{/images/la_piedra_filosofal.jpg}" />
			</div>
			<div class="col-8">
				<h5 th:text="${bookElement.book.name}"></h5>
				<p th:if="${bookElement.book.amount > 0}" th:text="'Cantidad disponible: ' + ${bookElement.book.amount}"></p>
				<p th:if="${bookElement.book.amount == 0}">Cantidad disponible: Agotado</p>
				Precio: <p th:id="'value-' + ${bookElement.book.id}" th:value="*{bookElement.book.value}" th:text="${bookElement.book.value}"></p>
				<div class="row">
					<div class="col-4">
						<p>Agregar al carrito:</p>
					</div>
					<div class="col-4">
						<input th:id="'amount-' + ${bookElement.book.id}" type="number" />
					</div>
					<div class="col-4">
						<button class="btn btn-success" onclick="sendRequest(this)" th:id="${bookElement.book.id}">Agregar</button>
					</div>
				</div>
			</div>
			<!--</form>-->
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/books.js}"></script>
</body>
</html>