<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible; Content-Type"
	content="ie=edge; text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title th:text="${bookListTitle}"></title>
</head>

<body style="margin: 50px;">

	<br />

	<h3 th:text="${title}"></h3>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h4 th:text="${shoppingCarDetails}"></h4>
			</div>
		</div>

		<br />

		<div class="row" th:if="${!books.isEmpty()}">
			<div class="col-12">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Libro</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Valor unitario</th>
							<th scope="col">Valor total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="bookElement: ${books}">
							<td th:text="${bookElement.book.name}" />
							<td th:text="${bookElement.amount}" />
							<td th:text="${bookElement.book.value}" />
							<td
								th:text="'$' + ${bookElement.amount} * ${bookElement.book.value}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row" th:if="${books.isEmpty()}">
			<div class="col-12">
				<h5>No hay libros en el carrito de compras</h5>
			</div>
		</div>

		<br />

		<div class="row" th:if="${!books.isEmpty()}">
			<div class="col-6">
				<a class="btn btn-warning" th:href="@{/shopping-car/cancel}"
					role="button">Cancelar la compra</a>
			</div>
			<div class="col-6">
				<a class="btn btn-primary"
					th:href="@{/shopping-car/buy}" role="button">Confirmar la
					compra</a>
			</div>
		</div>
	</div>
</body>
</html>